{{#if success}}
    <div class="columns">
        <div class="column">
            <div class="notification is-success">Email a <b>{{email}}</b> Enviado Correctamente</div>
        </div>
    </div>
{{/if}}