

<h1 class="title has-text-centered">Registrarse</h1>
<div class="columns is-centered">
    <div class="column is-one-third">

        <form action="./registrarse" method="post" id="regform">
            <div class="field">
                <label for="email" class="label">Email:</label>
                <div class="control">
                    <input type="text" name="email" id="email" class="input">
                </div>
            </div>
            <div class="field">
                <label for="cemail" class="label">Confirmar email:</label>
                <div class="control">
                    <input type="text" name="cemail" id="cemail" class="input">
                </div>
            </div>
            <div class="field">
                <label for="password" class="label">Contraseña:</label>
                <div class="control">
                    <input type="password" name="password" id="password" class="input">
                </div>
            </div>
            <div class="field">
                <label for="cpassword" class="label">Confirmar contraseña:</label>
                <div class="control">
                    <input type="password" name="cpassword" id="cpassword" class="input">
                </div>
            </div>
            <div class="field">
                <button type="button" onclick="checkForm()" class="button is-fullwidth is-info">Registrarse</button>
            </div>
        </form>

    </div>
</div>